.aws-btn {
  --slider-height-percentage: 40%;
  --slider-transition-duration: 223ms;
  --organic-arrow-thickness: 6px;
  --organic-arrow-border-radius: 5px;
  --organic-arrow-height: 31px;
  --organic-arrow-color: #50b6d9;
  --control-button-width: 9%;
  --control-button-height: 36%;
  --control-button-background: transparent;
  --control-bullet-color: #f09297;
  --control-bullet-active-color: #cc7c80;
  --loader-bar-color: transparent;
  --loader-bar-height: 8px;
}

.event_page{
  padding-top: 80px;
}

.event_page_topBar {
  width: 80px;
  height: 10px;
  background-color: #50b6d9;
  position: relative;
  left: 48%;
  top: 20px;
}
.event_page_Heading {
  margin-top: 45px;
  font-size: 50px;
  text-align: center;
}
.event_page_desc {
  margin-bottom: 0px 20px 30px 20px;
  padding: 0px 30px;
  line-height: 1.5rem;
  text-align: center;
  color: gray;
}

.event_page_searchBar {
  margin-top: 100px;
}

/* //////
  //////// event card cssss/////
  /////// */

/*-------------------
	 			Flip
-------------------*/

.card-container {
  transition: width 200ms linear 0s;
  perspective: 1000px;
}

.card-container .flip-animation {
  transform: rotateY(0deg);
}

.card-container.addFlip .flip-animation,
.card-container.addFlip .flip-animation ~ .backCard {
  transform: rotateY(180deg);
}

.flip-animation {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 550ms linear 0s;
}

.wrapper .card-container {
  height: 35em;
}

.wrapper.frontback-cards .item-card {
  z-index: 2;
  transform: rotateY(0deg);
}

.wrapper.frontback-cards .item-card-details {
  z-index: 1;
  transform: rotateY(180deg);
}

.wrapper.frontback-cards .item-card,
.wrapper.frontback-cards .item-card-details {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.wrapper .item-card-details {
  /* margin-top: -2em; */
}

.backCard-flip .bio-band {
  transform-origin: 10% 100%;
  animation: scaleIn 1000ms cubic-bezier(0.71, 0.55, 0.62, 1.57) 0.3s both;
}

.backCard-flip .bio-title {
  transform-origin: 10% 100%;
  animation: scaleIn 1000ms cubic-bezier(0.71, 0.55, 0.62, 1.57) 0.7s both;
}

/*-------------------
	 		LAYOUT
-------------------*/
.card-container {
  width: 100%;
  height: 28em;
  margin: 0em auto;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

/*--flexbox--*/
.item-card,
.item-card-details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.item-summary {
  width: 100%;
  background-color: #eaedef;
  padding: 1.5rem;
  box-sizing: border-box;
  margin-top: -0.2em;
}

.bio-block,
.scroll-block,
.more-info {
  background-color: #eaedef;
  width: 100%;
  box-sizing: border-box;
}

.bio-block {
  border-radius: 0.45em 0.45em 0 0;
  padding: 1em 1.5em 0.2em;
}

/*-------------------
	 		IMAGE
-------------------*/
.image-wrapper {
  float: left;
  height: 13em;
  order: -1;
  position: relative;
}

@supports (display: grid) {
  .image-wrapper {
    grid-column: span 2;
    grid-row: 1;
  }
}

.image-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(64, 101, 173, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.featured-image {
  width: 100%;
  border-radius: 0.45em 0.45em 0 0;
  object-fit: cover;
  height: 100%;
}

/*-------------------
	 		TEXT
-------------------*/
.title {
  font-size: 1.5em;
  transform-origin: 10% 100%;
  font-weight: 900;
  color: #313b40;
  animation: scaleInUp 800ms cubic-bezier(0.71, 0.55, 0.62, 1.57) 1s both;
}

.venue,
.street-address,
.locality {
  margin: 0.3em 0;
  color: #313b40;
  opacity: 0.85;
  transform-origin: 10% 100%;
  animation: scaleInUp 800ms cubic-bezier(0.71, 0.55, 0.62, 1.57) 1s both;
}

.item-time-date {
  float: left;
  order: -1;
}

@supports (display: grid) {
  .item-time-date {
    grid-column: span 2;
    grid-row: 2;
  }
}

.item-time-date {
  z-index: 100;
  width: 75%;
  height: 2.5em;
  font-size: 0.9em;
  color: #313b40;
  background-color: #fff;
  margin: -1.5em 0 -1.5em 1em;
  font-weight: 900;
  border-radius: 0.3em;
  text-align: center;
  animation: scaleIn 0.8s cubic-bezier(0.71, 0.55, 0.62, 1.57) 0.8s both;
}

.date,
.time {
  position: relative;
  top: 0.7em;
  padding: 0.6rem;
}

.time {
  border-left: 1px solid #444;
}

.address {
  font-style: normal;
}

.venue {
  font-weight: 900;
}

.bio-band {
  color: #888;
  opacity: 0.6;
  font-size: 1.1em;
  margin-bottom: 0;
}

.bio-title {
  font-size: 1.5em;
  color: #313b40;
  margin: 0.6em 0 0.4em;
}

.bio-text {
  line-height: 180%;
  height: 0%;
  color: #313b40;
  opacity: 0.85;
  font-size: 1em;
  padding: 0 1em 0 1.5em;
  margin: 0 0 -0.35em;
}

.scroll-block {
  height: 12em;
  overflow: scroll;
  border-bottom: 2px solid #ccc;
}

.more-info {
  padding: 0.5em 1em;
}

.more-info p:nth-child(1) {
  margin-bottom: 2em;
}

/*-------------------
	 BUTTONS & LINKS
-------------------*/

.item-buttons {
  display: flex;
  width: 100%;
}

@supports (display: grid) {
  .item-buttons {
    grid-column: span 2;
    grid-row: 4;
  }
}

.info,
.btn-tickets,
.button-detals {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.info:focus,
.btn-tickets:focus,
.btn-details:focus {
  outline: 2px solid #000;
}

.btn-details,
.btn-tickets {
  display: block;
  color: #fff;
  float: left;
  width: 50%;
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  padding: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  transition: color 200ms ease-in 0s;
}

/* 
JS & NO JS for Buttons
s*/

.wrapper .front-buttons,
.wrapper .back-arrow {
  display: none;
}

.wrapper.frontback-cards .front-buttons,
.wrapper.frontback-cards .back-arrow {
  display: block;
}

.wrapper .on-back {
  width: 100%;
  border-radius: 0 0 0.45em 0.45em;
}

.wrapper.frontback-cards .on-back {
  width: 50%;
  border-radius: 0 0 0.45em 0;
}

.blue {
  background-color: #4972c1;
  background: linear-gradient(
    90deg,
    #72a1ff,
    #4972c1,
    #34579e,
    #4972c1,
    #72a1ff
  );
  background-size: 400% 400%;
  background-position: 0% 50%;
  border-radius: 0 0 0.45em 0;
}

.blue:hover {
  animation: gradientMove 6s ease infinite;
}

.grey {
  background-color: #545b6d;
  border-radius: 0 0 0 0.45em;
  transition: background-color 200ms ease-in 0s;
}

.grey:hover {
  background-color: #3b404c;
}

.back-arrow {
  background: #545b6d url(https://bit.ly/2Fj85IN) center center no-repeat;
  background-size: 20%;
}

/*-------------------
	 	 BACK LINKS
-------------------*/
.info {
  color: #313b40;
  font-weight: 800;
  position: relative;
}

.info::after {
  content: "";
  display: block;
  position: absolute;
  margin: 0;
  left: 0;
  bottom: -25%;
  height: 0.2em;
  width: 100%;
  background-color: #4972c1;
  background: linear-gradient(
    90deg,
    #72a1ff,
    #4972c1,
    #34579e,
    #4972c1,
    #72a1ff
  );
  background-size: 400% 400%;
  background-position: 0% 50%;
  transition: all 0.2s ease-in 0s;
}

.info:hover::after {
  height: 0.5em;
  animation: gradientMove 6s ease both;
}

/*-------------------
	 	 		GRID
-------------------*/
@supports (display: grid) {
  .item-card,
  .item-card-details {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
  }
  .item-summary {
    grid-column: span 2;
    grid-row: 3;
  }
  .bio-block,
  .scroll-block,
  .more-info {
    grid-column: span 2;
    grid-row: auto;
  }
  .bio-details,
  .bio-tickets {
    grid-column: span 1;
    grid-row: auto;
  }
}

/*-------------------
	 	 KEYFRAMES
-------------------*/

@keyframes scaleInLight {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  100% {
    opacity: 0.8;
    transform: scale(1, 1);
  }
}

@keyframes positionBack {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  50% {
    opacity: 0.1;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(180deg);
  }
}

@keyframes bounceLeft {
  0% {
    transform: translatex(0%);
  }
  50% {
    transform: translatex(-30%);
  }
  100% {
    transform: translatex(0%);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes scaleInUp {
  0% {
    opacity: 0;
    transform: scale(1, 1) translatey(90%);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) translatey(0%);
  }
}

/*-------------------
	 MEDIA QUERIES
-------------------*/

/* set a solid foundation
that is the most important thing 
then add extra stuff i.e. css grid

I made it was more difficult for myself by doing this the other way around

Developing for all browsers doesnt seem that bad if you build from most support and then add on the extra stuff */

/* I just learned the terms for this! 
Progressive Enhancement & Graceful Degredation */

/* Name classes so they could be resued 
and make sure to stay consistent with naming style ex. dash, underscore, etc. */

.event_page_cardContainer {
  margin-top: 60px;
}

/*-----------------------------

    Search Bar Csss

--------------------------*/

.search-bar {
  background: #fff;
  padding: 1em;
  width: 100%;
  border-radius: 10em;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.664);
}

.search-bar input {
  width: 100%;
  border-style: none;
  color: inherit;
  background-color: transparent;
  padding-left: 1em;
  font-size: 1.3em;
}

.search-bar input:focus {
  outline: none;
}

.search-bar input:focus {
  outline: none;
}
.event_page_searchBar_select {
  margin-top: 1.2rem !important;
  width: 120px;
  font-size: 18px !important;
  border: hidden !important;
}
.event_page_searchBar_tag {
  margin-top: 1rem !important;
}
.event_page {
  overflow-x: hidden;
}

/*---------------------------------


responsive

----------------------------------*/

@media (max-width: 768px) {
  .event_page_searchBar_tag {
    font-size: 18px;
  }
  .event_page_topBar {
    left: 42%;
  }
  .event_page_Heading {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .event_page_searchBar_tag {
    font-size: 14px;
  }
  .event_page_topBar {
    left: 40%;
  }
  .event_page_Heading {
    font-size: 30px;
  }
}
@media (max-width: 375px) {
  .event_page_searchBar_tag {
    margin-top: 0rem !important;
    font-size: 12px;
  }
  .event_page_topBar {
    left: 35%;
  }
  .event_page_Heading {
    font-size: 20px;
  }
  .event_page_desc {
    font-size: 12px;
    padding: 0px 2px;
    margin-bottom: 0px 10px 30px 10px;
  }
  .event_page_searchBar_select {
    margin-top: 0.5rem !important;
    width: 120px;
    font-size: 12px !important;
    border: hidden !important;
  }
  .search-bar {
    background: #fff;
    padding: 0.5em;
    width: 100%;
    border-radius: 5em;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.664);
  }

  .search-bar input {
    width: 100%;
    border-style: none;
    color: inherit;
    background-color: transparent;
    padding-left: 1em;
    font-size: 1em;
  }
}
